---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; 
@import "minimal-mistakes"; 

/* === Custom CSS Adjustments === */

/* Base font size */
html {
  font-size: 16px !important;
}

/* Adjust page width */
.page, .page__content, .archive, .page__inner-wrap {
  max-width: 90rem !important;
}

/* Clearly hide 'Follow:' label */
.page__footer-follow-label {
  display: none !important;
}

/* Hide text labels next to social icons */
.page__footer-follow .social-icons .label {
  display: none !important;
}

/* Center social icons */
.page__footer-follow .social-icons {
  justify-content: center !important;
  text-align: center !important;
}

/* Small, gray, centered copyright */
.page__footer-copyright {
  font-size: 16px !important;
  color: #bbb !important;
  text-align: center !important;
}
